@{
	string[] animes={"one piece","demon slayer","dragon ball","spy family","naruto"};
}
<form action="/Home/Entry" method="post">
	名前：<input type="text" name="name" />
	<br />
	年齢：<input type="text" name="age" />
	<br />
	好きなアニメ：
	<select name="anime">
		@foreach(var anime in animes){
			<option>@anime</option>
		}
	</select>
	<input type="submit" value="送信" />
</form>